<!DOCTYPE html>
<html>
<head>
    <title>ng-intro</title>
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js"></script>
    <link rel="stylesheet" href="components/reveal.js/css/reveal.min.css">
    <link rel="stylesheet" href="components/reveal.js/css/theme/default.css">
    <style>
        ul, li {
            list-style: none;    
        }
        .pullright {
            float:right;
        }
        .done-true {
          text-decoration: line-through;
        }
    </style>
</head>
<body ng-app="myApp">
<div class="reveal">
    <div class="slides" ng-init="name='Batman'" ng-controller="TodoCtrl">
        <section>
            <h1>AngularJS</h1>
            <h3>ng-intro</h3><br/>
            <a href="https://bitbucket.org/danlangford/ng-intro/src/master/index.html">bitbucket.org/danlangford/ng-intro</a>
        </section>
        
        <section>
            <h2>data binding</h2>
            <div>
                Who are you? <br/>
                <input ng-model="name" /><br/>
                I'm {{name}}!
            </div>
        
        </section>
        
        <section>
            <h2>add control</h2>
            <div>
                {{name}}-do list<br/>
                <small><span>{{remaining()}} of {{todos.length}} remaining</span>
                [<a href="" ng-click="archive()">archive</a>]</small><br/>
                <ul>
                    <li ng-repeat="todo in todos" class="done-{{todo.done}}">
                        <input type="checkbox" ng-model="todo.done"/>{{todo.text}}
                    </li>
                </ul>
                <form ng-submit="addTodo()">
                    <input type="text" ng-model="todoText"  placeholder="new todo">
                </form>
            </div>
            <script>
                function TodoCtrl($scope, $filter){
                    $scope.todos = [
                        {text:'wash batmobile', done:true},
                        {text:'fight crime', done:false},
                        {text:'get Alfreds b-day cake', done:false}];
                     
                      $scope.addTodo = function() {
                        this.todos.push({text:this.todoText, done:false});
                        this.todoText = '';
                      };
                     
                      $scope.remaining = function() {
                          return $filter('filter')(this.todos,{done:false}).length;
                      };
                     
                      $scope.archive = function() {
                        this.todos = [].concat($filter('filter')(this.todos,{done:false}));
                      };
                      
                }
            </script>
            
        </section>
        
        <section>
            <h2>custom components</h2><h4>(directives)</h4>
            <div >
                {{name}}'s honey-dos<br/>
                <small><span>{{remaining()}} of {{todos.length}} remaining</span>
                [<a href="" ng-click="archive()">archive</a>]</small><br/>
                <ul item-move="todos"></ul>
                <form ng-submit="addTodo()">
                    <input type="text" ng-model="todoText" placeholder="new todo" required>
                </form>
            </div>
            <script>
            
                angular.module('myApp',[]).directive('itemMove', function($filter){
                    return {
                        scope:true,
                        template: '<li ng-repeat="item in list | orderBy:\'position\'"><input type="checkbox" ng-model="item.done" />\
                                    <span class="done-{{item.done}}">{{item.position}}) {{item.text}}</span>\
                                    <small ng-hide="list.length<2">[<a href="" ng-click="up(item)" ng-hide="$first">&uarr;</a><span ng-show="$middle">/</span>\
                                    <a href="" ng-click="down(item)" ng-hide="$last">&darr;</a>]</small></li>',
                        link: function(scope,elem,attrs,ctrl){
                            scope.up=function(item){
                                $filter('filter')(scope.list,{position:item.position-1})[0].position=item.position;
                                item.position--;
                            };
                            scope.down=function(item){
                                $filter('filter')(scope.list,{position:item.position+1})[0].position=item.position;
                                item.position++;
                            };
                            scope.target = attrs.itemMove;
                            scope.$watch('$parent[target]',function(x,y,scope){
                                scope.list = x;
                            });
                            scope.$watch('list.length',function(x,y,scope){
                                for(var i=0;i<x;i++){
                                    scope.list[i].position=i+1;
                                }
                            });
                        }
                        
                    };
                });
            
            </script>
            
        </section>
        
    </div>
</div>
<script src="components/reveal.js/js/reveal.min.js"></script>
<script> Reveal.initialize(); </script>

</body>
</html>